
@import '../css/navegation.css';
@import '../css/left-container.css';
@import '../css/container.css';
@import '../css/center-container.css';
@import '../css/right-container.css';
@import '../css/button-big.css';


.containerGlobal{
    margin:0;
   
    display: flex;
    flex-direction: column;
    gap: 3rem;

    align-items: center;
}